// Width variables (appears count calculates by raw css)
$width1: 1px; // Appears 2 times
$width193: 193px; // Appears 2 times
$width330: 330px; // Appears 4 times
$width425: 425px; // Appears 2 times
$width450: 450px; // Appears 2 times
$width25p: 25%; // Appears 2 times

$zero: 0; // Appears 12 times
$px25: 25px; // Appears 4 times
$px50: 50px; // Appears 5 times
$px54: 54px; // Appears 9 times
$hundredp: 100%; // Appears 60 times

// Height variables (appears count calculates by raw css)
$height30: 30px; // Appears 4 times
$height36: 36px; // Appears 13 times
$height51: 51px; // Appears 3 times
$height72: 72px; // Appears 4 times
$height126: 126px; // Appears 2 times
$height144: 144px; // Appears 2 times
$height325: 325px; // Appears 2 times

//colors
$font_color1: #363e43; // Appears 27 times
$border_color1: rgb(235, 235, 235); // Appears 25 times
$white: #fff; // Appears 18 times
$font_color2: rgb(137, 137, 137); // Appears 17 times
$button_color1: #6db40d; // Appears 13 times
$green_dark_color: rgb(76, 129, 3); // Appears 12 times
$green_light_color: rgb(171, 220, 104); // Appears 10 times
$green_light_color2: rgb(141, 198, 63); // Appears 8 times
$green_dark_color2: #518f00; // Appears 7 times
$color_word: #6c88b3; // Appears 6 times
$green_dark_color3: rgb(93, 161, 0); // Appears 6 times
$color_box_shadow1: rgba(0, 0, 1, 0.4); // Appears 5 times
$color_box_shadow2: rgba(0, 0, 1, 0.2); // Appears 3 times
$black: #000; // Appears 5 times
$font_color3: rgb(43, 47, 38); // Appears 5 times
$color_star1: rgb(244, 195, 0); // Appears 4 times
$green_pale_color: rgb(226, 240, 207); // Appears 4 times
$color_active_btn: #86e010; // Appears 4 times
$font_color4: #b7b7b7; // Appears 4 times
$font_color5: #cacccd; // Appears 3 times
$color_word_hover: #2b65bb; // Appears 3 times
$color_exel: #80b999; // Appears 3 times
$color_pp: #c9a59c; // Appears 3 times
$font_color6: rgb(112, 112, 112); // Appears 3 times
$font_color7: rgb(204, 204, 204); // Appears 3 times
$color_bg1: rgb(249, 249, 249); // Appears 2 times
$color_wrapper: #f7f7f7; // Appears 2 times
$font_color8: #7dd600; // Appears 2 times
$color_bg2: rgba(54, 63, 68, 0.9); // Appears 2 times
$color_bg3: rgba(255, 255, 255, 0.95); // Appears 2 times
$color_exel_hover: #2fac65; // Appears 2 times
$color_pp_hover: #ca4e2f; // Appears 2 times
$color_flag: #a90d12; // Appears 2 times
$border_color2: rgb(225, 225, 225); // Appears 2 times
$color_bg4: rgba(255, 255, 255, 0.2); // Appears 2 times
$color_mirage_approx: #191d1f; // Appears 1 times
$color_star_dust_approx: #a1a1a1; // Appears 1 times
$color_alizarin_crimson_approx: rgb(237, 28, 36); // Appears 1 times
$black_30: rgba(0, 0, 0, 0.3); // Appears 1 times
$color_monza_approx: #d41118; // Appears 1 times
$color_science_blue_approx: #0b5cd5; // Appears 1 times
$color_eucalyptus_approx: #219053; // Appears 1 times
$color_green_haze_approx: #01ad4e; // Appears 1 times
$color_flame_pea_approx: #d95333; // Appears 1 times
$color_thunderbird_approx: #d0320b; // Appears 1 times
$color_picton_blue_approx: #44c9f4; // Appears 1 times
$color_cerulean_approx: #0db1e7; // Appears 1 times
$color_shark_approx: rgb(37, 37, 37); // Appears 1 times
$color_deco_approx: #c7e2a2; // Appears 1 times
$color_desert_storm_approx: #f8f8f8; // Appears 1 times
$color_gallery_approx: #f0f0f0; // Appears 1 times
$color_nevada_approx: rgb(101, 107, 111); // Appears 1 times
$black_15: rgba(0, 0, 0, 0.15); // Appears 1 times
$black_10: rgba(0, 0, 0, 0.1); // Appears 1 times
$color_frost_approx: rgb(237, 248, 223); // Appears 1 times
$color_gray_approx: #80827d; // Appears 1 times
$color_science_blue_40_approx: rgba(11, 92, 213, 0.4); // Appears 1 times
$color_christi_60_approx: rgba(108, 181, 13, 0.6); // Appears 1 times
$color_thunderbird_50_approx: rgba(208, 50, 11, 0.5); // Appears 1 times
$color_iron_approx: rgb(215, 215, 215); // Appears 1 times
$color_silver_approx: rgb(193, 193, 193); // Appears 1 times
$color_roman_approx: rgb(222, 98, 102); // Appears 1 times
$color_valencia_approx: rgba(216, 70, 75, 1); // Appears 1 times

$color_button_hover1: #64a70c;

//fonts
$font_0: GloberBoldFree;
$font_1: GloberThinFree;
$font_2: Roboto;

//urls
$url_0: url(font/GloberBoldFree.otf);
$url_1: url(font/GloberThinFree.otf);
$url_2: url(img/flag.png);
$url_3: url(img/flag-hov.png);
$url_4: url(img/list.png);
$url_5: url(img/list-sub.png);
$url_6: url(img/list-done.png);
$url_7: url(img/list-sub-done.png);
$url_8: url(img/list-sub-inprog.png);
$url_9: url(img/list-opis.png);
$url_10: url(img/shadow.png);
$url_11: url(img/flag-right.png);


@mixin box-shadow($top, $left, $blur, $extension, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition03 {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
@mixin transition05 {
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

//@extend-elements
//original selectors
//button, button:active, button:focus
%extend_1 {
  outline: none;
  border: none;
  font-family: $font_1;
  cursor: pointer;
}

//original selectors
//.header .enter-form form input[type=text], .header .enter-form form input[type=password]
%extend_2 {
  width: $width330;
  border: 1px solid $font_color1;
  display: block;
  margin: 13px 0 16px calc(50% - 165px);
  font-weight: 100;
  @include border-radius(3px);
  font-size: 18px;
  font-family: $font_2;
}

//original selectors
//.course-bottom .tab-soder .tab-list >i:before, .course-bottom .tab-soder .tab-list >i:after
%extend_3 {
  content: '';
  display: block;
  height: $height30;
  left: 9px;
  position: absolute;
  width: $width1;
  z-index: -1;
  border-left: 1px dotted $font_color4;
}

@font-face {
  font-family: $font_0;
  src: $url_0 format('truetype');
}
@font-face {
  font-family: $font_1;
  src: $url_1 format('truetype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  @extend %extend_1;
  &:active {
    @extend %extend_1;
  }
  &:focus {
    @extend %extend_1;
  }
}
input {
  outline: none;
  border: none;
  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
textarea {
  outline: none;
  border: none;
  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
#overlay {
  z-index: 3000;
  position: fixed;
  background-color: $color_box_shadow1;
  width: $hundredp;
  height: $hundredp;
  top: 0;
  left: 0;
  display: none;
  font-size: 1px;
  color: transparent;
}
.hidden {
  display: none !important;
}
.bold {
  font-weight: 600;
}
.wrapper {
  width: $hundredp;
  height: $hundredp;
  background-color: $color_wrapper;
  padding-top: 70px;
  font-family: $font_2;
}
.header {
  height: 70px;
  width: $hundredp;
  background-color: $font_color1;
  position: fixed;
  z-index: 100;
  top: 0;
  font-family: $font_1;
  @include box-shadow(0, 0, 10px, 0, $black_30);
  .logo {
    padding: 10px 0;
    display: inline-block;
    margin: 0 4%;
    vertical-align: middle;
    img {
      width: 85px;
      height: 38px;
    }
  }
  .menu {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    > li {
      display: inline-block;
      padding: 26px 0 20px;
      margin-left: 20px;
      a {
        color: $font_color5;
        font-weight: 100;
        font-size: 18px;
        font-family: $font_0;
      }
      &:hover a {
        color: $white;
      }
    }
    > .active {
      border-bottom: 3px solid $button_color1;
      a {
        color: $white;
      }
    }
    li {
      padding: 25px 8px;
    }
    &.active-mobile li {
      display: block;
    }
  }
  .loggin {
    float: right;
    position: relative;
    right: calc(4% - 4px);
    display: inline-block;
    vertical-align: middle;
    padding: 16px 0;
    .header-user {
      height: $height36;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      .user-wrapp {
        height: $hundredp;
        span {
          vertical-align: middle;
          padding-right: 15px;
          color: $font_color5;
          font-family: $font_2;
          font-weight: bold;
        }
        img {
          vertical-align: middle;
          height: $hundredp;
        }
        &:hover span {
          color: $green_pale_color;
        }
      }
    }
    button {
      padding: 6px;
      margin: 0 4px;
      height: $height36;
      font-size: 18px;
    }
    .to-sign {
      background: transparent;
      color: $font_color5;
      padding-right: 10px;
      border-right: 1px solid $white;
      font-family: $font_0;
      &:hover {
        color: $white;
      }
    }
    .to-reg {
      background-color: $button_color1;
      @include border-radius(3px);
      color: $white;
      padding: 9px 10px;
      font-family: $font_0;
      &:hover {
        background-color: $color_button_hover1;
      }
    }
  }
  .user-menu {
    position: absolute;
    right: 0;
    top: 71px;
    @include box-shadow(0, 0, 40px, 0, $color_box_shadow1);
    width: 144px;
    height: $zero;
    text-align: left;
    overflow: hidden;
    @include transition03;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(216,216,216) 95%, rgb(176,176,176) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(216,216,216) 95%, rgb(176,176,176) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(216,216,216) 95%, rgb(176,176,176) 100%);
    ul {
      height: $height144;
    }
    li {
      background-color: $white;
      width: $hundredp;
      height: $height36;
      position: relative;
      border-bottom: 1px solid $font_color2;
      &:last-child {
        border-bottom: none;
      }
      div {
        width: $hundredp;
        height: 100%;
        padding: 5px 10px;
        color: $font_color1;
        font-family: $font_2;
        @include transition03;
        &:hover {
          background-color: $green_dark_color3;
          color: $white;
          @include transition03;
        }
      }
      i {
        vertical-align: middle;
        width: $px25;
        padding-right: 10px;
      }
      img {
        vertical-align: middle;
        width: $px25;
        height: 16px;
        padding-right: 13px;
      }
      span {
        vertical-align: middle;
        font-size: 14px;
      }
    }
  }
  .user-menu-active {
    height: $height144;
    @include transition03;
  }
  .enter-form {
    display: none;
    overflow: hidden;
    text-align: center;
    border: 1px solid $green_dark_color;
    @include border-radius(3px);
    background-color: $white;
    @include box-shadow(0, 0, 40px, 0, $color_box_shadow1);
    position: fixed;
    top: 5%;
    left: 50%;
    opacity: 0;
    z-index: 5000;
    .form-wrapp {
      padding-bottom: 10px;
    }
    .form-close {
      float: right;
      padding-top: 15px;
      color: $font_color2;
      font-size: 30px;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      top: -10px;
    }
    .enter-title {
      font-size: 18px;
      padding-top: 35px;
      text-transform: uppercase;
      font-family: $font_0;
      color: $green_dark_color3;
    }
    .enter-info {
      font-size: 16px;
      padding-top: 15px;
      padding-bottom: 3px;
      font-family: $font_2;
      color: $font_color1;
    }
    form {
      input {
        height: $height36;
        font-size: 16px;
        padding: 5px 15px;
        @include border-radius(3px);
        font-family: $font_2;
      }
      input[type=text] {
        @extend %extend_2;
        &:focus {
          border: 1px solid $green_light_color;
        }
        &:active {
          border: 1px solid $green_light_color;
        }
      }
      input[type=password] {
        @extend %extend_2;
        &:focus {
          border: 1px solid $green_light_color;
        }
        &:active {
          border: 1px solid $green_light_color;
        }
      }
      .forgot-pass {
        font-size: 16px;
        width: $width330;
        margin: 20px 0 20px calc(50% - 165px);
        text-align: left;
        cursor: pointer;
        position: relative;
        top: 10px;
        font-family: $font_0;
        color: $font_color1;
      }
      .form-sub {
        width: $width330;
        height: $height36;
        margin: 10px 0 10px calc(50% - 165px);
      }
      input[type=submit] {
        color: $white;
        vertical-align: middle;
        background-color: $button_color1;
        border: none;
        cursor: pointer;
        font-family: $font_0;
        font-size: 18px;
        padding: 9px 15px;
        float: left;
        &:hover {
          background-color: $color_button_hover1;
        }
      }
      .soc-icon {
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: $height36;
        @include border-radius(3px);
        text-align: center;
        float: right;
        margin-left: 15px;
        background-color: $green_dark_color;
        &:hover {
          background-color: $white;
          border: 2px solid $green_dark_color;
          color: $green_dark_color;
        }
      }
      a {
        color: $white;
        .fa-facebook {
          font-size: 30px;
        }
        .fa-vk {
          font-size: 22px;
        }
      }
      .soc-fb {
        padding-top: 4px;
        padding-left: 5px;
      }
      .soc-vk {
        padding-top: 5px;
      }
    }
    .sugg {
      background-color: $color_bg1;
      width: $hundredp;
      height: $height72;
      border-top: 1px solid $border_color1;
      padding: 24px 0;
    }
  }
  .reg {
    width: 500px;
    height: 397px;
    margin-left: -250px;
  }
  .signin {
    width: $width450;
    height: 343px;
    margin-left: -225px;
  }
  .forgot {
    width: $width450;
    height: 254px;
    margin-left: -225px;
    padding: 0 25px;
  }
  .sugg {
    span {
      font-size: 16px;
      font-family: $font_2;
      color: $font_color1;
    }
    .sugg-link {
      color: $green_dark_color3;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $font_color8;
      }
    }
  }
  .mobile-menu-btn {
    display: none;
    background: $color_mirage_approx;
    width: $px50;
    height: $px50;
    color: $white;
    padding: 9px;
    text-align: center;
    font-size: 30px;
    float: right;
    right: 4%;
    top: 10px;
    position: relative;
    @include border-radius(3px);
    @include transition03;
    &.active {
      color: $color_active_btn;
      @include transition03;
    }
    &:hover {
      @extend .mobile-menu-btn.active;
    }
  }
}

/*glavnaya start*/


.anons {
  height: $height72;
  width: $hundredp;
  background-color: $green_pale_color;
  padding: 25px 4%;
  .text-anons {
    color: $font_color1;
    vertical-align: middle;
    font-size: 18px;
  }
  .an-close {
    float: right;
    background-color: $white;
    @include border-radius(50px);
    padding: 0 7px;
    font-size: 20px;
    color: $color_star_dust_approx;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    top: -1px;
    @include transition03;
    &:hover {
      @include box-shadow(0, 1px, 1px, -1px, $color_box_shadow2);
      @include box-shadow(0, 1px, 8px, 0, $color_box_shadow1);
      @include transition03;
    }
  }
}
.last-seen {
  height: 200px;
  margin: 35px 4% 0;
  background-color: $white;
  @include border-radius(3px);
  border: 1px solid $border_color1;
  .last-header {
    padding: 18px 15px 14px;
    border-bottom: 1px solid $border_color1;
    color: $font_color2;
    font-family: $font_0;
    font-size: 18px;
    #last-src {
      float: right;
      color: $color_picton_blue_approx;
      text-decoration: underline;
      &:hover {
        color: $color_cerulean_approx;
      }
    }
  }
  .last-courses {
    height: 145px;
    overflow: hidden;
    li {
      width: 220px;
      height: 140px;
      list-style: none;
      display: inline-block;
      padding: 17px 15px;
      margin: 0 auto;
      position: relative;
      font-family: $font_1;
      a {
        color: $color_shark_approx;
      }
      img {
        width: $hundredp;
        height: $hundredp;
      }
      &:hover > .last-hover {
        opacity: 1;
        @include transition05;
      }
    }
    .last-hover {
      opacity: 0;
      height: 113px;
      width: 194px;
      background-color: $color_bg3;
      position: absolute;
      top: 17px;
      left: 15px;
      padding: 10px;
      cursor: pointer;
      @include transition05;
    }
  }
}
.ms-list {
  padding: 30px 4%;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}
.ms-block {
  width: 348px;
  margin: 0 15px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  position: relative;
  .msblock-wrapp {
    width: $hundredp;
    height: $hundredp;
    padding: 15px;
  }
  .ms-title {
    width: $hundredp;
    height: $px54;
    padding: 14px 15px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: $font_0;
    img {
      vertical-align: top;
      padding-right: 16px;
      width: 43px;
      height: 27px;
    }
    span {
      color: $white;
      font-size: 27px;
      vertical-align: top;
    }
  }
  &.ms-word {
    .ms-title {
      background-color: $color_word_hover;
      @include transition03;
    }
    .c-letter {
      color: $color_word;
    }
    li:hover .c-letter {
      color: $color_word_hover;
    }
  }
  &.ms-exel {
    .ms-title {
      background-color: $color_eucalyptus_approx;
      @include transition03;
    }
    .c-letter {
      color: $color_exel;
    }
    li:hover .c-letter {
      color: $color_exel_hover;
    }
  }
  &.ms-pp {
    .ms-title {
      background-color: $color_flame_pea_approx;
      @include transition03;
    }
    .c-letter {
      color: $color_pp;
    }
    li:hover .c-letter {
      color: $color_pp_hover;
    }
  }
  .c-title {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
    .c-name {
      padding-right: 10px;
      color: $font_color3;
    }
    .fa {
      padding-right: 5px;
    }
  }
  .c-time {
    font-weight: 700;
    padding-top: 5px;
    color: $font_color3;
    .fa {
      padding-right: 5px;
    }
  }
  .c-sum {
    padding-top: 6px;
    position: relative;
    > div {
      font-size: 18px;
      display: inline-block;
      padding-left: 2px;
    }
    .rate {
      color: $font_color2;
      .fa {
        margin: 0 -1.7px;
      }
      .fa-star {
        color: $color_star1;
      }
    }
    .sum {
      position: relative;
      right: -5px;
      font-weight: 900;
      float: right;
      font-size: 18px;
      @include transition03;
    }
    .sum-price {
      color: $button_color1;
    }
    .sum-bought {
      text-transform: uppercase;
      color: $font_color2;
      i {
        font-size: 14px;
        position: relative;
        top: -2px;
        padding-left: 5px;
      }
    }
    .bezpl {
      position: relative;
      background: $url_2 no-repeat;
      background-size: cover;
      color: $white;
      right: -15px;
      padding: 7px 23px;
      text-transform: uppercase;
      font-size: 18px;
      @include transition03;
    }
    .border-right {
      position: absolute;
      right: -15px;
      top: -11px;
      width: $zero;
      height: $zero;
      border-bottom: 4px solid $color_flag;
      border-right: 4px solid transparent;
    }
  }
  li:hover {
    .c-letter {
      @include transition03;
    }
    .c-title {
      .c-name {
        color: $black;
      }
      .c-time {
        color: $black;
      }
    }
    .c-sum {
      .sum-price {
        color: $font_color8;
        @include transition03;
      }
      .bezpl {
        background: $url_3 no-repeat;
        @include transition03;
      }
    }
  }
}
.ws-list {
  background-color: $white;
  padding-bottom: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  li {
    height: $height126;
    border-bottom: 2px solid $color_wrapper;
    @include transition03;
    &:hover {
      @include box-shadow(0, 0, 1px, 0, $color_box_shadow1);
      @include box-shadow(0, 1px, 18px, 0, $color_box_shadow2);
      @include transition03;
    }
  }
}
.c-letter {
  width: $px54;
  height: $px54;
  float: left;
  background-color: $border_color1;
  padding: 6px;
  font-size: 36px;
  @include border-radius(50%);
  text-align: center;
  font-weight: 700;
  margin-right: 15px;
  @include transition03;
}
.course-top {
  background: -moz-linear-gradient( 90deg, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
  background: -ms-linear-gradient( 90deg, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
  padding-bottom: 50px;
  padding: 20px 4%;
  text-align: center;
  .course-cover {
    display: inline-block;
    width: calc($hundredp - 410px);
    max-width: 700px;
    vertical-align: top;
    position: relative;
    text-align: center;
    iframe {
      max-height: $hundredp;
      max-width: $hundredp;
    }
  }
  .course-info {
    display: inline-block;
    width: 405px;
    height: 395px;
    vertical-align: top;
    color: $white;
    padding-left: 30px;
    text-align: left;
    .info-title {
      font-size: 27px;
      letter-spacing: 0.7px;
    }
    .button {
      height: 92px;
      padding: 26px 0;
    }
    .info-text {
      font-size: 14px;
      padding-bottom: 40px;
    }
    .bottom-info {
      height: $height36;
    }
  }
  .button {
    span {
      font-size: 14px;
      color: $font_color7;
      text-transform: uppercase;
      font-weight: 600;
      vertical-align: middle;
      position: relative;
      top: 8px;
    }
    button {
      font-size: 18px;
      font-family: $font_0;
      color: $white;
      @include border-radius(3px);
      padding: 9px 10px 6px;
      vertical-align: middle;
      height: $hundredp;
      float: right;
      letter-spacing: 0.5px;
      background-color: $button_color1;
      &:hover {
        background-color: $color_button_hover1;
      }
    }
    .info-prise span {
      color: $green_light_color;
      font-size: 18px;
    }
    .info-free button {
      background-color: $color_alizarin_crimson_approx;
      &:hover {
        background-color: $color_monza_approx;
      }
    }
  }
  .bottom-info {
    button {
      font-size: 14px;
      font-family: $font_2;
      padding: 9px;
      @include border-radius(2px);
      i {
        padding-right: 5px;
        font-size: 18px;
        vertical-align: bottom;
      }
    }
    .ask {
      color: $green_dark_color;
      background-color: $green_pale_color;
      &:hover {
        background-color: $color_deco_approx;
      }
    }
    .addSrc {
      color: $white;
      background-color: transparent;
      border: 1px solid $white;
      padding: 8px;
      float: right;
      &:hover {
        background-color: $color_bg4;
      }
      i {
        font-size: 14px;
        position: relative;
        top: -1px;
      }
    }
    .addedSrc {
      color: $font_color1;
      background-color: $white;
      border: 1px solid $white;
      padding: 8px;
      float: right;
      &:hover {
        background-color: $color_bg3;
      }
      i {
        font-size: 14px;
        position: relative;
        top: -1px;
      }
    }
    .info-stat {
      padding-top: 15px;
      font-weight: 100;
      div {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0;
        font-size: 18px;
      }
    }
    .stat-rate {
      text-align: left;
      width: calc(33% - 4px);
      i {
        margin: 0 1px;
        color: $color_star1;
      }
    }
    .stat-num {
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      text-align: center;
      width: calc(36% - 4px);
      i {
        padding-right: 8px;
      }
    }
    .stat-time {
      text-align: right;
      border-right: none;
      width: calc(30% - 4px);
      i {
        padding-right: 8px;
      }
    }
  }
}
.breadcrumbs {
  padding-bottom: 20px;
  padding-left: 15px;
  text-align: left;
  li {
    display: inline-block;
    font-size: 20px;
    color: $green_light_color;
    a {
      color: $font_color6;
      &:hover {
        color: $font_color7;
      }
    }
  }
  i {
    padding: 0 15px;
    color: $font_color6;
    font-size: 18px;
    vertical-align: middle;
  }
}
.course-bottom {
  padding: 20px 4%;
  min-height: 300px;
  text-align: center;
  .corse-content {
    background-color: $white;
    width: calc(98% - 395px);
    max-width: 702px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $border_color1;
    @include border-radius(3px);
    margin-bottom: 20px;
    text-align: left;
  }
  .tabs {
    li {
      border-bottom: 1px solid $border_color1;
      border-left: 1px solid $border_color1;
      display: inline-block;
      width: $width25p;
      margin: 0 -2px;
      background-color: $color_desert_storm_approx;
      padding: 17px 10px 17px 17px;
      font-size: 16px;
      color: $font_color2;
      cursor: pointer;
      &:hover {
        background-color: $color_gallery_approx;
      }
      &:first-child {
        margin: 0 -2px 0 0;
        border-left: none;
      }
    }
    .active {
      background-color: $white;
      border-bottom: none;
      color: $green_light_color2;
      &:hover {
        background-color: $white;
      }
    }
    img {
      vertical-align: middle;
      padding-right: 5px;
    }
    span {
      vertical-align: middle;
    }
  }
  .progress {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    progress {
      position: absolute;
      width: $zero;
      height: $zero;
      overflow: hidden;
      left: -777px;
    }
  }
  .progress-bar {
    overflow: hidden;
    background: $green_light_color;
    width: 12%;
    height: $hundredp;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress-value {
    display: block;
    line-height: 21px;
    text-align: center;
    font-size: 12px;
    color: $color_nevada_approx;
    font-style: italic;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .progress-bg {
    background: $white;
    position: relative;
    height: 18px;
    @include border-radius(15px);
    overflow: hidden;
    border: 1px solid $border_color2;
  }
  .info-panel {
    padding: 20px 4%;
    .tab-list {
      width: $hundredp;
      display: inline-block;
      padding-left: 25px;
      padding-top: 10px;
      position: relative;
      li {
        position: relative;
        padding: 0 10px 14px;
        z-index: 10;
      }
      .main {
        padding-right: 125px;
        .bold {
          font-weight: 600;
        }
      }
      a {
        color: $font_color1;
        span {
          position: relative;
          top: -3px;
          font-weight: 100;
          font-size: 18px;
        }
        &:hover {
          color: $green_dark_color2;
        }
      }
    }
    .list-child {
      font-weight: 100;
      font-size: 16px;
      position: relative;
    }
  }
  .tab-list {
    li {
      > i {
        background-image: $url_4;
        background-size: cover;
        height: 19px;
        width: 19px;
        left: -25px;
        top: -2px;
        position: absolute;
      }
      &:first-child > i:before {
        height: $zero;
      }
      &:last-child > i:after {
        height: $zero;
      }
    }
    .list-child {
      > i {
        background-image: $url_5;
        left: -25px;
      }
      &.passed > i {
        background-image: $url_7;
      }
      &.inprogress > i {
        background-image: $url_8;
      }
    }
    .main.passed > i {
      background-image: $url_6;
    }
  }
  .tab-soder {
    .tab-list > i {
      &:before {
        @extend %extend_3;
        top: -20px;
      }
      &:after {
        @extend %extend_3;
        top: 10px;
      }
    }
    .psevdo-middle > i {
      &:before {
        height: $height51;
      }
      &:after {
        height: $height51;
      }
    }
  }
  .tabs-buy {
    position: absolute;
    right: 0;
    top: -5px;
    border: 1px solid $green_dark_color;
    @include border-radius(15px);
    cursor: pointer;
    overflow: hidden;
    div {
      padding: 2px;
      text-align: center;
      height: $px25;
      color: $green_dark_color;
      width: 125px;
      @include transition(all 1s ease-out);
      .text {
        font-size: 14px;
      }
      .price {
        font-size: 14px;
      }
    }
    &:hover {
      div {
        color: $white;
        background-color: $green_dark_color;
        @include transition(all 1s ease-out);
      }
      .text {
        display: none;
      }
      .price {
        display: block;
        padding-top: 2px;
      }
    }
    .price {
      display: none;
    }
  }
  .tab-list-time {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    font-size: 16px;
    color: $font_color2;
    font-weight: 600;
    i {
      padding-right: 10px;
    }
  }
  .tab-opis {
    ul {
      padding-bottom: 28px;
      padding-right: 35px;
    }
    p {
      padding: 10px 0;
      font-size: 18px;
      color: $font_color1;
    }
  }
  .bold {
    font-size: 16px;
  }
  .tab-opis-vid {
    position: relative;
    left: 35px;
    color: $font_color1;
    padding-bottom: 1px;
    list-style-image: $url_9;
    &:first-child {
      padding-top: 15px;
    }
    span {
      position: relative;
      top: -3px;
    }
  }
  .tab-comment {
    padding: 20px 0 10px;
    .new-comm {
      border-bottom: 1px solid $border_color1;
      padding: 0 4% 10px;
    }
    textarea {
      border: 1px solid $border_color1;
      resize: none;
      width: calc($hundredp - 110px);
      height: $height72;
      font-size: 18px;
      font-family: $font_2;
      padding: 10px 15px;
      &:focus {
        border: 1px solid $green_light_color;
      }
      &:active {
        border: 1px solid $green_light_color;
      }
    }
    input {
      border: none;
      font-family: $font_2;
      color: $white;
      @include border-radius(3px);
      background-color: $green_dark_color;
      height: $height36;
      vertical-align: top;
      padding: 0 12px;
      margin-left: 15px;
      cursor: pointer;
      font-size: 14px;
      &:hover {
        background-color: $button_color1;
      }
    }
  }
  .reply-form {
    padding: 0 0 15px 74px;
  }
  .comment {
    padding-right: 6%;
    border-bottom: 1px solid $border_color1;
    &:last-child {
      border-bottom: none;
    }
  }
  .comm-body {
    padding: 15px 4%;
    .user-avatar {
      @include border-radius(50%);
      width: 60px;
      height: $px50;
      display: inline-block;
      padding-right: 10px;
      vertical-align: top;
    }
    .text-body {
      display: inline-block;
      width: calc($hundredp - 70px);
    }
    .user-name {
      color: $green_dark_color;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .children-list {
    padding-left: 60px;
    .comm-body {
      padding-top: 0;
      border-bottom: none;
    }
    .user-avatar {
      width: 46px;
      height: $height36;
    }
  }
  .comm-data {
    font-size: 14px;
    color: $font_color2;
    padding-left: 15px;
  }
  .comm-text {
    color: $font_color1;
    padding: 5px 0;
    font-size: 18px;
  }
  .reply {
    font-size: 16px;
    color: $green_light_color2;
    &:hover {
      color: $green_dark_color2;
    }
  }
  .related {
    background-color: $white;
    width: 390px;
    margin-left: 15px;
    border: 1px solid $border_color1;
    @include border-radius(3px);
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  .related-title {
    height: $px54;
    padding: 19px 15px 8px;
    font-size: 18px;
    font-family: $font_0;
    color: $font_color2;
    border-bottom: 1px solid $border_color1;
  }
  .rel-list {
    li {
      border-bottom: 1px solid $border_color1;
      height: 90px;
      position: relative;
      @include transition03;
      &:hover {
        @include box-shadow(0, 0, 1px, 0, $color_box_shadow1);
        @include box-shadow(0, 1px, 18px, 0, $color_box_shadow2);
        @include transition03;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .rel-wrapp {
      padding: 20px 15px;
      width: $hundredp;
      height: $hundredp;
    }
  }
  .c-letter {
    width: $px54;
    height: $px54;
    float: left;
    background-color: $border_color1;
    padding: 6px;
    font-size: 36px;
    font-weight: 600;
    @include border-radius(50%);
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
  }
  .word-letter {
    color: $color_word;
    @include transition03;
  }
  .exel-letter {
    color: $color_exel;
    @include transition03;
  }
  .pp-letter {
    color: $color_pp;
    @include transition03;
  }
  .rel-title {
    padding-top: 1px;
  }
  .rel-name {
    display: inline;
    padding-right: 10px;
    font-size: 20px;
    color: $font_color3;
  }
  .rel-rate {
    display: inline-block;
    padding-top: 7px;
    i {
      color: $font_color2;
      margin: 0 -1.5px;
      font-size: 18px;
    }
    .fa-star {
      color: $color_star1;
    }
  }
  .user-avatar img {
    width: $hundredp;
  }
  .file-list li {
    padding-bottom: 15px;
    img {
      padding-right: 10px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      font-size: 16px;
      color: $font_color1;
      &:hover {
        color: $green_dark_color2;
      }
    }
  }
  li:hover {
    .word-letter {
      color: $color_word_hover;
      @include transition03;
    }
    .exel-letter {
      color: $color_exel_hover;
      @include transition03;
    }
    .pp-letter {
      color: $color_pp_hover;
      @include transition03;
    }
    .rel-name {
      color: $black;
    }
  }
}
.payment-wrapp {
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
  border: 1px solid $border_color1;
  @include border-radius(3px);
  @include box-shadow(0, 0, 18px, 0, $black_15);
  width: 486px;
  margin: 30px auto;
  position: relative;
  .payment-img {
    padding: 20px;
  }
  img {
    width: $hundredp;
  }
  .payment-title {
    font-size: 27px;
    padding: 0 20px 20px;
    color: $font_color1;
    font-weight: bold;
  }
  .pay {
    background-color: $color_bg1;
    width: $hundredp;
    height: $height126;
    padding: 23px 20px;
    border-top: 1px solid $border_color1;
  }
  span {
    font-size: 18px;
    color: $font_color1;
    vertical-align: middle;
    font-weight: bold;
  }
  .pay-sum {
    float: right;
  }
  .change-currency {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    border: 1px solid $color_word;
    @include border-radius(15px);
    text-align: center;
    width: 148px;
    height: $px25;
    font-size: 14px;
    cursor: pointer;
    color: $color_word;
    @include transition03;
    &:hover {
      background-color: $color_word;
      color: $white;
      @include transition03;
    }
  }
  .price {
    display: inline-block;
    vertical-align: middle;
    color: $green_dark_color;
    font-weight: bold;
    padding-left: 20px;
  }
  .change-pay {
    display: block;
    margin: 25px auto 0;
    @include border-radius(3px);
    background-color: $green_dark_color3;
    height: $height36;
    font-size: 18px;
    font-family: $font_0;
    color: $white;
    padding: 10px 20px;
    &:hover {
      background-color: $green_dark_color2;
    }
  }
  .if-notpay {
    padding: 20px;
    font-size: 18px;
    color: $font_color1;
    line-height: 1.2;
  }
  .quest {
    padding: 20px;
    li {
      border-bottom: 1px solid $border_color1;
      padding: 15px 0;
      color: $font_color1;
      line-height: 1.2;
      &:last-child {
        border-bottom: none;
      }
    }
    .img {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding: 5px;
      @include border-radius(50%);
      background-color: $green_light_color2;
      color: $white;
      width: $px54;
      height: $px54;
      margin-right: 15px;
      font-size: 36px;
      font-weight: bold;
    }
    .quest-title {
      display: inline-block;
      vertical-align: top;
      width: calc($hundredp - 75px);
      font-size: 23px;
      letter-spacing: 1px;
      min-height: $height51;
      font-weight: 600;
    }
    .div-uns {
      font-size: 18px;
      padding-top: 20px;
    }
  }
}
.after-pay {
  background-color: $white;
}
.container {
  position: relative;
  padding: 20px 0;
  text-align: center;
  color: $font_color1;
  .img {
    width: $width425;
    max-width: $width425;
    height: 220px;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 7px;
    margin-bottom: 10px;
    background: $url_10 no-repeat;
    background-size: contain;
    background-position: 50% 100%;
    top: calc(50% - 110px);
    img {
      height: $hundredp;
    }
  }
  .after-text {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;
    top: calc(50% - 110px);
  }
  .congrad {
    font-size: 36px;
    padding-bottom: 15px;
  }
  p {
    font-size: 24px;
    color: $font_color1;
  }
  .name-course {
    padding-bottom: 35px;
  }
  .begin {
    @include border-radius(3px);
    background-color: $green_dark_color3;
    width: 179px;
    height: $height36;
    font-size: 18px;
    padding: 9px 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: $font_0;
    color: $white;
    &:hover {
      background-color: $green_dark_color2;
    }
  }
  .to-home div {
    display: inline-block;
    border: 1px solid $font_color1;
    @include border-radius(3px);
    width: 130px;
    height: $height36;
    padding: 8px 15px;
    z-index: 7;
    font-size: 18px;
    font-family: $font_0;
    color: $font_color1;
    &:hover {
      border: 1px solid $green_dark_color2;
      color: $green_dark_color2;
    }
  }
}
.courses-wrapp {
  width: $hundredp;
  padding: 40px 20px 40px 200px;
  text-align: center;
  .courses-menu {
    position: fixed;
    left: 0;
    top: 110px;
    padding: 10px 0 20px;
    border: 1px solid $border_color1;
    background-color: $white;
    @include box-shadow(0, 0, 10px, 0, $black_10);
    width: $width193;
    height: $height325;
    z-index: 100;
    text-align: left;
    overflow: hidden;
    @include transition05;
  }
  .menu-active {
    width: $width193;
    opacity: 1;
    @include transition05;
  }
  .menu-list {
    width: 191px;
    height: 288px;
    @include transition05;
    li {
      position: relative;
    }
  }
  .courses-menu-btn {
    height: $px50;
    width: $px50;
    border: 1px solid $border_color1;
    background-color: $white;
    position: fixed;
    z-index: 100;
    top: 110px;
    left: 0;
    display: none;
    text-align: center;
    padding-top: 8px;
    font-size: 26px;
    cursor: pointer;
    @include transition05;
    &:hover {
      color: $color_active_btn;
      @include transition05;
    }
  }
  .name-list {
    font-size: 18px;
    font-weight: 600;
  }
  li {
    div {
      height: $height36;
      padding: 5px 20px;
      font-size: 16px;
      @include transition(background-color 0.5s ease-out);
      &:hover {
        background-color: $color_frost_approx;
        @include transition(background-color 0.5s ease-out);
        span {
          color: $black;
        }
      }
    }
    img {
      height: 20px;
      padding-right: 15px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      color: $font_color1;
    }
    .menu-children {
      padding-top: 5px;
      img {
        padding-right: 10px;
      }
      div {
        padding-right: 10px;
        padding-left: 55px;
      }
    }
  }
  .course {
    display: inline-block;
    vertical-align: top;
    width: 294px;
    height: $height325;
    position: relative;
    margin: 0 15px 20px;
    background-color: $white;
    @include border-radius(3px);
    border: 1px solid $border_color1;
    cursor: pointer;
    text-align: left;
    &:hover {
      .c-title {
        color: $color_gray_approx;
        @include transition05;
      }
      .c-time {
        color: $font_color4;
        @include transition05;
      }
      .sum {
        color: $button_color1;
        @include transition03;
      }
      .course-th-m {
        opacity: 1;
        @include transition05;
      }
      .c-sum .rate {
        color: $font_color4;
        @include transition05;
      }
    }
  }
  .course-th {
    position: relative;
    width: $hundredp;
    .thumb {
      width: $hundredp;
      display: block;
    }
  }
  .info {
    color: $font_color3;
    padding: 15px;
    .c-title {
      font-size: 18px;
      font-weight: 700;
      height: 63px;
      @include transition05;
    }
  }
  .c-time {
    float: right;
    @include transition05;
    .fa {
      padding-right: 10px;
    }
  }
  .c-sum {
    padding-bottom: 16px;
    > div {
      display: inline-block;
      font-size: 18px;
      color: $font_color2;
    }
    .rate {
      color: $font_color2;
      @include transition05;
      .fa-star {
        color: $color_star1;
      }
    }
  }
  .sum {
    font-weight: 900;
    font-size: 18px;
    position: relative;
    color: $green_dark_color3;
    @include transition03;
  }
  .bezpl {
    position: relative;
    background: $url_11 no-repeat;
    background-size: cover;
    color: $white;
    left: -20px;
    padding: 7px 23px;
    text-transform: uppercase;
    @include transition03;
  }
  .border-left {
    position: absolute;
    left: -20px;
    top: -11px;
    width: $zero;
    height: $zero;
    border-bottom: 4px solid $color_flag;
    border-left: 4px solid transparent;
  }
  .course-th-m {
    display: block;
    width: $hundredp;
    height: $hundredp;
    position: absolute;
    top: 0;
    text-align: center;
    opacity: 0;
    @include transition05;
    img {
      width: $width25p;
      top: 40%;
      position: relative;
    }
  }
  .ms-word .course-th-m {
    background-color: $color_science_blue_40_approx;
  }
  .ms-exel .course-th-m {
    background-color: $color_christi_60_approx;
  }
  .ms-pp .course-th-m {
    background-color: $color_thunderbird_50_approx;
  }
}
.courses-menu-btn-active {
  color: $color_active_btn;
  @include transition05;
}
.const-wrapp {
  text-align: center;
  color: $font_color1;
  .wrapp-title {
    width: $hundredp;
    background-color: $white;
    padding: 20px;
    border-bottom: 1px solid $border_color2;
    h3 {
      font-size: 27px;
      padding-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 1.286;
      font-weight: 600;
      max-width: 1010px;
      margin: 0 auto;
    }
  }
  .left-col {
    width: 468px;
    min-height: 1116px;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $border_color1;
    @include border-radius(3px);
    background-image: -webkit-linear-gradient(left, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
    background-image: -o-linear-gradient(left, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
    background-image: linear-gradient(to right, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
    .part-list {
      max-height: $zero;
      width: $hundredp;
      overflow: hidden;
      @include border-radius(3px);
      @include transition(all 1.7s ease-out);
    }
    .part-list-active {
      max-height: 3000px;
      @include transition(all 1.7s ease-out);
    }
  }
  .single-card {
    height: $px54;
    position: relative;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    color: $font_color3;
    line-height: 1.4;
  }
  .expand {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: $green_light_color2;
    }
    .fa-chevron-up {
      color: $green_light_color2;
    }
  }
  .part-list {
    > li {
      border: 1px solid $border_color1;
      margin-bottom: 15px;
      padding: 15px;
      position: relative;
      min-height: $height72;
      cursor: pointer;
      .part-prev {
        padding-right: 82px;
        font-size: 18px;
        color: $font_color1;
        @include transition05;
      }
      &:first-child {
        margin-top: 20px;
      }
      &:hover {
        border: 2px $green_light_color solid;
        padding: 14px;
        .expand {
          right: 61px;
          top: 21px;
        }
        .add {
          right: 11px;
          top: 17px;
        }
        .del {
          right: 11px;
          top: 12px;
        }
      }
    }
    .part-name {
      display: block;
      font-size: 16px;
    }
    .expand {
      position: absolute;
      right: 62px;
      top: 22px;
      font-size: 20px;
      cursor: pointer;
    }
    .add {
      position: absolute;
      right: 12px;
      top: 18px;
      text-align: center;
      cursor: pointer;
      border: 1px $font_color1 solid;
      @include border-radius(3px);
      width: 36px;
      height: $height36;
      span {
        font-size: 38px;
        font-weight: 400;
        position: relative;
        top: -7px;
      }
      i {
        display: none;
      }
    }
    .added {
      background-color: $font_color1;
      span {
        display: none;
      }
      i {
        display: block;
        font-size: 20px;
        position: relative;
        top: 5px;
        color: $white;
      }
    }
    .active-part .part-prev {
      color: $green_dark_color;
      @include transition05;
    }
    .del span {
      font-size: 38px;
      font-weight: 400;
      position: relative;
      top: -5px;
    }
  }
  .less-list {
    max-height: $zero;
    overflow: hidden;
    @include border-radius(3px);
    @include transition(all 0.7s ease-out);
    > li {
      margin-bottom: 5px;
      min-height: 22px;
      position: relative;
      &:first-child {
        padding-top: 20px;
        margin-top: 15px;
        border-top: 1px solid $border_color1;
      }
      span {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
  .less-list-active {
    max-height: 1000px;
    @include transition(all 0.7s ease-out);
  }
  .right-col {
    width: 606px;
    min-height: 1116px;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $border_color1;
    @include border-radius(3px);
    background-image: -moz-linear-gradient( 90deg, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(72,81,87) 0%, rgb(38,45,50) 100%);
    form {
    }
    .part-list {
      overflow: hidden;
      margin-top: 0;
      li {
        background-color: $white;
        @include border-radius(2px);
        .part-prev {
          padding-right: 195px;
        }
      }
      .course-move {
        position: absolute;
        top: 13px;
        text-align: center;
        cursor: pointer;
        border: 1px $font_color1 solid;
        @include border-radius(3px);
        width: 36px;
        height: $height36;
        padding-top: 7px;
        &:hover {
          color: $green_light_color2;
          border: 1px solid $green_light_color2;
        }
      }
      .course-down {
        right: 120px;
      }
      .course-up {
        right: 65px;
      }
      .expand {
        position: absolute;
        right: 175px;
        top: 18px;
        font-size: 20px;
        cursor: pointer;
      }
      .del {
        color: $white;
        position: absolute;
        right: 12px;
        top: 13px;
        text-align: center;
        cursor: pointer;
        @include border-radius(3px);
        width: 36px;
        height: $height36;
        background-color: $color_roman_approx;
        &:hover {
          background-color: $color_valencia_approx;
        }
      }
      > li:hover {
        .course-down {
          right: 119px;
          top: 12px;
        }
        .course-up {
          right: 64px;
          top: 12px;
        }
        .expand {
          right: 174px;
          top: 17px;
        }
      }
    }
  }
  .download-img {
    position: relative;
    margin-right: 15px;
    @include border-radius(2px);
    background-color: $color_iron_approx;
    width: 160px;
    height: 90px;
    text-align: center;
    float: left;
    p {
      color: $font_color6;
      font-size: 12px;
      font-weight: 400;
    }
    .download-plus {
      font-size: 60px;
      height: 65px;
      color: $font_color4;
    }
    input {
      opacity: 0;
      position: absolute;
      width: $hundredp;
      height: $hundredp;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .enter-title {
    font-size: 24px;
    color: $color_silver_approx;
    background-color: transparent;
  }
  .form-button {
    margin-top: 25px;
    input {
      padding: 9px 15px 6px;
      @include border-radius(3px);
      height: $height36;
      color: $white;
      font-size: 18px;
      font-family: $font_0;
      cursor: pointer;
    }
  }
  .save {
    background-color: $button_color1;
    margin-right: 15px;
    &:hover {
      background-color: $button_color1;
    }
  }
  .reset {
    background-color: transparent;
    border: 1px solid $white;
    &:hover {
      background-color: $color_bg4;
    }
  }
  .single-course > li {
    background-color: $white;
    margin-bottom: 20px;
    width: $hundredp;
    padding: 18px;
    border: 1px solid $border_color1;
    @include border-radius(2px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.footer {
  height: 90px;
  width: $hundredp;
  background-color: $white;
  border-top: 1px solid $font_color7;
  padding: 20px 4%;
  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    border-right: 1px solid $font_color2;
    img {
      height: $height30;
    }
    p {
      font-size: 16px;
      color: $font_color2;
    }
  }
  .footer-cont {
    display: inline-block;
    vertical-align: middle;
    li {
      display: inline-block;
      padding: 0 12px;
      vertical-align: middle;
      .div-icon {
        display: inline-block;
        vertical-align: middle;
        background-color: $font_color2;
        @include border-radius(100%);
        width: 30px;
        height: $height30;
        text-align: center;
        padding: 3px;
        i {
          font-size: 24px;
          color: $white;
        }
      }
      a {
        color: $font_color2;
        font-size: 16px;
      }
      span {
        vertical-align: middle;
        padding-left: 8px;
        font-size: 18px;
      }
      i {
        font-size: 30px;
        color: $font_color2;
        vertical-align: middle;
      }
      img {
        height: $height30;
        vertical-align: middle;
      }
    }
  }
  .fa-chevron-up {
    color: $green_pale_color;
    float: right;
    cursor: pointer;
    font-size: 30px;
    padding-top: 10px;
    &:hover {
      color: $button_color1;
    }
  }
}
@media screen and(max-width: 380px) {
  .course-top {
    .bottom-info {
      button {
        display: block;
      }
      .addSrc {
        float: none;
        margin-top: 15px;
      }
      .addedSrc {
        float: none;
        margin-top: 15px;
      }
    }
    .course-info {
      height: 450px;
    }
  }
}
@media screen and(max-width: 510px) {
  .container {
    .img {
      width: $hundredp;
      height: auto;
      padding-bottom: 3px;
    }
    img {
      width: 95%;
      height: auto;
    }
    .after-text {
      padding: 20px;
      width: $hundredp;
    }
  }
  .payment-wrapp {
    width: $hundredp;
    .pay {
      padding: 23px 15px;
    }
    .price {
      padding-left: 0;
    }
    span {
      font-size: 16px;
    }
    .change-currency {
      width: 130px;
    }
    .change-pay {
      height: 33px;
      font-size: 16px;
      padding: 9px 10px;
    }
    .if-notpay {
      font-size: 16px;
    }
    .quest {
      .img {
        width: 45px;
        height: 45px;
        margin-right: 10px;
        font-size: 30px;
      }
      .quest-title {
        line-height: 1;
        font-size: 20px;
        letter-spacing: 0;
      }
      .div-uns {
        font-size: 16px;
        padding-top: 15px;
      }
    }
  }
  .header .enter-form {
    width: $hundredp;
    left: 0;
    margin-left: 0;
  }
}
@media screen and(max-width: 550px) {
  .const-wrapp {
    .enter-title {
      font-size: 20px;
      padding: 5px 0;
    }
    .form-button {
      margin-top: 20px;
    }
  }
  .courses-wrapp {
    padding: 40px 0;
    .courses-menu {
      width: $zero;
      opacity: 0;
      left: 50px;
    }
    .courses-menu-btn {
      display: block;
    }
    .menu-active {
      width: $width193;
      opacity: 1;
    }
  }
}
@media screen and(max-width: 480px) {
  .const-wrapp {
    .wrapp-title {
      padding: 10px;
      h3 {
        font-size: 22px;
        padding-bottom: 5px;
      }
      p {
        font-size: 12px;
      }
    }
    p {
      font-size: 18px;
      line-height: 1.3;
    }
    .left-col {
      padding: 15px;
    }
    .right-col {
      padding: 15px;
      .part-list {
        > li {
          .part-prev {
            padding-right: 68px;
            min-height: 80px;
          }
          &:hover {
            .course-down {
              right: 64px;
              top: 62px;
            }
            .course-up {
              right: 11px;
              top: 62px;
            }
            .expand {
              right: 72px;
            }
          }
        }
        .course-move {
          top: 63px;
        }
        .course-down {
          right: 65px;
        }
        .course-up {
          right: 12px;
        }
        .expand {
          right: 73px;
        }
        li .part-prev {
          padding-right: 95px;
        }
      }
    }
    .single-card {
      height: 45px;
      .c-letter {
        width: 45px;
        height: 45px;
        font-size: 28px;
      }
    }
    .enter-title {
      padding-right: 4px;
      margin-top: 10px;
    }
    .form-button {
      margin-top: 10px;
    }
    .single-course > li {
      padding: 10px;
    }
  }
}
@media screen and(min-width: 678px) and(max-width: 899px) {
  .footer .footer-cont li:last-child {
    text-align: center;
  }
}
@media screen and(max-width: 750px) {
  .const-wrapp {
    .left-col {
      width: $hundredp;
      max-width: 606px;
      min-height: auto;
    }
    .right-col {
      width: $hundredp;
      max-width: 606px;
      min-height: auto;
    }
  }
  .header {
    .loggin {
      display: none;
      .header-user {
        width: $hundredp;
        text-align: left;
        padding-left: 8px;
      }
      button {
        width: $hundredp;
        text-align: left;
      }
      &.loggin-mobile {
        .to-sign {
          border: none;
          width: $hundredp;
        }
        .to-reg {
          width: $hundredp;
          background-color: transparent;
          padding-left: 6px;
        }
      }
    }
    .mobile-menu-btn {
      display: block;
    }
    .menu {
      display: none;
      &.active-mobile > li {
        padding: 15px 8px;
        margin: 0;
      }
    }
  }
  .last-seen {
    height: 230px;
    .last-header {
      height: 80px;
      span {
        display: block;
        float: none;
      }
      #last-src {
        display: block;
        float: none;
      }
    }
  }
  .course-top {
    .course-cover {
      width: $hundredp;
      height: $zero;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .course-info {
      width: $hundredp;
      padding-left: 0;
      padding-top: 20px;
    }
  }
  .course-bottom {
    .corse-content {
      width: $hundredp;
    }
    .related {
      width: $hundredp;
      float: none;
    }
    .tabs li {
      width: 50%;
    }
  }
  .footer {
    position: relative;
    text-align: center;
    height: auto;
    .footer-logo {
      padding-bottom: 10px;
      border: none;
    }
    .footer-cont {
      text-align: center;
      li {
        text-align: left;
        width: 200px;
        padding: 5px 12px;
      }
    }
    .fa-chevron-up {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  .menu.active-mobile {
    display: block;
    background-color: $color_bg2;
    z-index: 10;
    position: relative;
    top: 6px;
  }
  .loggin.loggin-mobile {
    display: block;
    background-color: $color_bg2;
    z-index: 10;
    position: relative;
    top: 6px;
    width: $hundredp;
    right: 0;
    padding-top: 0;
  }
}
@media screen and(max-width: 1100px) and(min-width: 750px) {
  .course-top {
    text-align: center;
    .course-cover {
      width: $hundredp;
    }
    .course-info {
      width: 640px;
      padding-left: 0;
      padding-top: 20px;
    }
  }
  .const-wrapp {
    .left-col {
      width: 606px;
      min-height: auto;
    }
    .right-col {
      min-height: auto;
    }
  }
  .footer {
    position: relative;
    text-align: center;
    height: auto;
    .footer-logo {
      padding-bottom: 10px;
      border: none;
    }
    .footer-cont {
      text-align: center;
      li {
        text-align: left;
        width: 200px;
        padding: 5px 12px;
      }
    }
    .fa-chevron-up {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}
@media screen and(max-width: 1200px) {
  .course-bottom {
    .corse-content {
      width: $hundredp;
    }
    .related {
      width: $hundredp;
      margin: 0;
    }
  }
}
.ms-word .ms-title:hover {
  background-color: $color_science_blue_approx;
  @include transition03;
}
.ms-exel .ms-title:hover {
  background-color: $color_green_haze_approx;
  @include transition03;
}
.ms-pp .ms-title:hover {
  background-color: $color_thunderbird_approx;
  @include transition03;
}
.course-word .c-letter {
  color: $color_word;
}
.course-exel .c-letter {
  color: $color_exel;
}
.course-pp .c-letter {
  color: $color_pp;
}
.active-course .c-letter {
  background-color: $green_light_color2;
  color: $white;
  @include transition05;
}